body {
    background-color: #585858;
    display: flex;
    flex-direction: column;
    font-family:  monospace;
    color: #EDC913;
    
    

}

h1 {
    text-align: center;
    padding: 0;
    color : white;
}



.header {
    display: flex;
    flex-direction: column;
}

.header, .container {
    margin: 0 10px ;
    padding: 0 10px 10px 10px;
    border: 2px solid #585858;
    background-color: #004430;
    
}

.text{
    color : white;
    font-size:larger;
}

.money-flow{
    display: flex;    
    justify-content: space-evenly;
  
}

.money-action {
    display: flex;
    flex-direction: column;
    flex : 0;
    margin: 0 10px ;
    border: 1px solid #585858;

}

.placing-bet {
    display: flex;  
    color: white;
    justify-content: center;
    
    
}

.bet-option {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#submit-bet {
    align-self: stretch;
    margin : 15px 10px 10px 0;

}

.payout {
    display: flex;
    justify-content: center;
}

.bet-payout {
    margin : 10px;
    padding: 2px;
    border : 2px solid #585858;
    color : black;
    background-color: #EDC913;
}

button {
    /* background-color: #585858; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; */
    text-decoration: none;
    display: inline-block;
    background-color: #585858; 
    color: white;
    font-size :15px;
    padding: 5px 10px;
    transition-duration: 0.4s;
}

button:hover {
    font-weight: bold;
    /* color: #EDC913;  */
   
  }

select {
    font-size : medium;
    font-weight: 500;
    background-color: #EDC913;

}

input {
    border: 2px solid #585858;
    border-radius: 2px;
    font-weight: bold;
    color : black;
}

input:focus {
    background-color: #EDC913;
  }

#balance {
    border: 2px solid white;
    width: 200px;
    padding: 5px 10px ;

}